/videos/private/*png*.*
/videos/private/*jpg8c.*
/detector/models/*Dets.txt
evaluation3.2.1/results/
data/
channels/private/convConst.mexa64
channels/private/gradientMex.mexa64
channels/private/imPadMex.mexa64
channels/private/imResampleMex.mexa64
channels/private/rgbConvertMex.mexa64
classify/private/binaryTreeTrain1.mexa64
classify/private/fernsInds1.mexa64
classify/private/forestFindThr.mexa64
classify/private/forestInds.mexa64
classify/private/meanShift1.mexa64
detector/private/acfDetect1.mexa64
images/private/assignToBins1.mexa64
images/private/histc2c.mexa64
images/private/imtransform2_c.mexa64
images/private/nlfiltersep_max.mexa64
images/private/nlfiltersep_sum.mexa64
matlab/private/dijkstra1.mexa64
videos/private/ktComputeW_c.mexa64
videos/private/ktHistcRgb_c.mexa64
videos/private/opticalFlowHsMex.mexa64
*.caffemodel
